body {
	background: #ececee;
	color: #444;
}
.button-h {
	background: #ccc;
	border-radius: 4px;
	color: #444;
	display:block;
	margin: .5em;
	padding: .5em;
	text-decoration: none;
}
.title {
	font-weight: bold;
	color: #444;
}
.icon {
	height: 1.2em;
	width: auto;
	margin-right: .2em;
}
.note {
	display: block;
	font-size: 80%;
	opacity: 0.8;
}

